@using Infiniti.MvcControllers
@using Intelledox.Produce
@{
    var defaultLogo = "<img src=\"" + Url.Content("~/Images/produce.svg") + "\" alt=\"Infiniti Logo\" height=\"56\" width=\"165\" /><span class=\"sr-only\">Infiniti</span>";
    var skin = Intelledox.Controller.SkinController.GetTenantSkin(UserSettings.BusinessUnit,ViewBag.ByPassSkinCache ?? false);
    if (skin.HasSkinSettings)
    {
    <link href="~/Styles/Skin?v=@Intelledox.Common.DateHelper.UtcDateTimeToJsString(skin.Published)" rel="stylesheet" />
        if (skin.Logo != null && skin.Logo.Length > 0)
            {
                defaultLogo = string.Empty;
            }
    }
}
@model Infiniti.MvcControllers.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutSubpage.cshtml";
}
<!-- Version @Intelledox.Produce.General.GetVersion -->
<form id="Form1" method="post" autocomplete="off">

    @Html.AntiForgeryToken()
<header class="navbar navbar-inverse navbar-fixed-top ix-nav" role="banner">
    <div class="container-fluid">
        <div id="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".ix-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.Raw(ApplicationSettings.ThemeHeaderLogoSkin)

            <a class="navbar-brand" href="@Url.Action("Index", "Home")" title="@ApplicationSettings.ThemePageTitle">@Html.Raw(defaultLogo)</a>

        </div>

        <nav class="collapse navbar-collapse ix-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                @if (ViewBag.CurrentTab != MenuTab.Home)
                {
                    <li class="@(ViewBag.CurrentTab == MenuTab.Home ? "active" : "")" id="HomeMenu">
                        <a>Permits Online</a>
                    </li>
                }
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @if (Infiniti.MvcControllers.UserSettings.IsGuest)
                {
                    <div>
                    <div class="triangle-topleft">
                    </div>
                    <div class="toprightdiv"><a href="~/Account/Login">@Resources.Strings.Login</a></div>
                    </div>
                }
                else if (!System.Security.Claims.ClaimsPrincipal.Current.HasClaim(c => c.Type == Intelledox.Common.ConstantValues.NOLOGOUT_CLAIM))
                {
                    <li id="LogoutMenu">
                        <a id="lnkSignOut" class="signout-link" href="~/Account/LogOff">@Resources.Strings.LogOut</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</header>
    <span id="lblBefore">@Html.Raw(Infiniti.MvcControllers.ApplicationSettings.ThemeLoginBefore)</span>
    <div id="divLogin" class="form-horizontal">
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
        <div id="divLoginMessage">@ViewBag.Message</div>
        }
        <div id="tblLogin">
            <h3 class="login-title">Login To Permits Online</h3>
            <div class="form-group">
                <label for="txtUsername" id="lblUsername" class="col-sm-12 control-label">@ViewBag.UsernameTitle</label>
                <div class="col-sm-12">
                    <input name="UserName" type="text" id="txtUsername" class="form-control" autofocus="autofocus" placeholder="Enter Email" autocomplete="off" value="@Model.UserName" />
                    @Html.ValidationMessage("UserName")
                </div>
            </div>
            <div class="form-group">
                <label for="txtPassword" class="col-sm-12 control-label">@Resources.Strings.Password</label>
                <div class="col-sm-12">
                    <input name="Password" type="password" id="txtPassword" class="form-control" placeholder="Enter Password" autocomplete="off" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                <input type="submit" value="@Resources.Strings.Login" id="btnSignIn" class="btn btn-primary" />
                </div>
                <div class="col-sm-12">
                <a href="~/Account/ForgotPassword?returnURL=@ViewBag.ReturnUrl" class="btn btn-link" id="lnkForgotPassword">@Resources.Strings.ForgotPassword</a>
                </div>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.ConfirmationMessage))
        {
        <div id="divConfirmMessage">@ViewBag.ConfirmationMessage</div>
        }
    </div>
    <div class="text-center"><span id="lblAfter">Don't have an account?</span><a href="http://permitsonlinetest.azurewebsites.net/Produce/Form/Public/Sign%20Up/">&nbsp;Sign up</a></div>
    <span id="lblAfter">@Html.Raw(Infiniti.MvcControllers.ApplicationSettings.ThemeLoginAfter)</span>
</form>
