@using Intelledox.Produce
@using Infiniti.MvcControllers
@{
    var defaultLogo = "<img src=\"" + Url.Content("~/Images/produce.svg") + "\" alt=\"Infiniti Logo\" height=\"56\" width=\"165\" /><span class=\"sr-only\">Infiniti</span>";
    var skin = Intelledox.Controller.SkinController.GetTenantSkin(UserSettings.BusinessUnit,ViewBag.ByPassSkinCache ?? false);
    if (skin.HasSkinSettings)
    {
    <link href="~/Styles/Skin?v=@Intelledox.Common.DateHelper.UtcDateTimeToJsString(skin.Published)" rel="stylesheet" />
        if (skin.Logo != null && skin.Logo.Length > 0)
            {
                defaultLogo = string.Empty;
            }
    }
}
@model Infiniti.MvcControllers.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutSubpage.cshtml";
}
<form id="Form1" method="post" autocomplete="off">
    @Html.AntiForgeryToken()
    <header class="navbar navbar-inverse navbar-fixed-top ix-nav" role="banner">
    <div class="container-fluid">
        <div id="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".ix-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.Raw(ApplicationSettings.ThemeHeaderLogoSkin)

            <a class="navbar-brand" href="@Url.Action("Index", "Home")" title="@ApplicationSettings.ThemePageTitle">@Html.Raw(defaultLogo)</a>

        </div>

        <nav class="collapse navbar-collapse ix-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                @if (ViewBag.CurrentTab != MenuTab.Home)
                {
                    <li class="@(ViewBag.CurrentTab == MenuTab.Home ? "active" : "")" id="HomeMenu">
                        <a>Permits Online</a>
                    </li>
                }
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @if (Infiniti.MvcControllers.UserSettings.IsGuest)
                {
                    <div>
                    <div class="triangle-topleft">
                    </div>
                    <div class="toprightdiv"><a href="~/Account/Login">@Resources.Strings.Login</a></div>
                    </div>
                }
                else if (!System.Security.Claims.ClaimsPrincipal.Current.HasClaim(c => c.Type == Intelledox.Common.ConstantValues.NOLOGOUT_CLAIM))
                {
                    <li id="LogoutMenu">
                        <a id="lnkSignOut" class="signout-link" href="~/Account/LogOff">@Resources.Strings.LogOut</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</header>
    <div id="divLogin" class="form-horizontal">
        <h3 class="login-title">@Resources.Strings.ResetPassword</h3>
        @if (!string.IsNullOrEmpty(ViewBag.InvalidRequest))
        {
            <span id="lblInvalidRequest" class="forgotPwdError">@ViewBag.InvalidRequest</span>
        }
        else
        {
            <div id="divResetPwd">
                <h4><span id="lblResetPwdMsg">@Resources.Strings.ResetPwdInstruction</span></h4>
                <div class="form-group"> 
                    <label class="col-sm-3 control-label">@General.GetUsernameText()</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">@ViewBag.Username</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtNewPassword" class="col-sm-3 control-label">@Resources.Strings.NewPassword</label>
                    <div class="col-sm-9">
                        <input name="password1" type="password" maxlength="50" id="txtNewPassword" class="form-control" autofocus="autofocus" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtReEnterPassword" class="col-sm-3 control-label">@Resources.Strings.ConfirmPassword</label>
                    <div class="col-sm-9">
                        <input name="password2" type="password" maxlength="50" id="txtReEnterPassword" class="form-control" autocomplete="off" />
                    </div>
                </div>
                <div class="pull-right">
                    <input type="submit" name="btnResetPwd" value="@Resources.Strings.ResetPassword" id="btnChange" class="btn btn-primary" />
                </div>
            </div>
        }

        <br /><br />
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <span id="lblEntryError" class="forgotPwdError">@ViewBag.Message</span>
        }
    </div>
</form>
