@{
    Layout = "~/Views/Shared/_LayoutSubpage.cshtml";
}

<script src="~/scripts/jquery-1.8.3.min.js"></script>
<script src="~/scripts/FileUpload/jqueryui/jquery.ui.widget.js?v=2"></script>
<script src="~/scripts/FileUpload/jquery.iframe-transport.js?v=2"></script>
<script src="~/scripts/FileUpload/jquery.fileupload.js?v=2"></script>
<script src="~/scripts/FileUpload/jquery.fileupload-ui.js?v=2"></script>
@{
    var clearInk = string.Empty;
    if (Request.QueryString["qid"] != null && Request.QueryString["UploadType"] != null && Request.QueryString["UploadType"] == "ink")
    {
        var qid = Request.QueryString["qid"];
        clearInk = string.Format("parent.wiz.clearInk('{0}');",qid);
    }
}
<script>
    $(function () {
        var formDataSupported = true;
        if (window.FormData === undefined) {
            //We would normally have a progress bar, but for older browsers we will show the IX spinner.
            formDataSupported = false;
        }
        $('#cancelupload').hide();
        $('#uploadingtext').hide();
        var jqXHR = null;
        $('#fileupload').fileupload({
            url: '@Url.Content("~/")WizardSupport/SelectFileUpload?FragmentGuid=@Html.Raw(HttpUtility.JavaScriptStringEncode(Request.QueryString["FragmentGuid"]))&QuestionId=@Html.Raw(HttpUtility.JavaScriptStringEncode(Request.QueryString["QuestionId"]))&UploadType=@Html.Raw(HttpUtility.JavaScriptStringEncode(Request.QueryString["uploadType"]))&repeatPath=@Html.Raw(HttpUtility.JavaScriptStringEncode(Request.QueryString["repeatPath"]))&logGuid=@Html.Raw(HttpUtility.JavaScriptStringEncode(Request.QueryString["logGuid"]))',
            add: function (e, data) {
                if (data.files != null) {
                    var fileSize = data.files[0].size / 1024;
                    if (fileSize > @(Html.Raw(HttpUtility.JavaScriptStringEncode((string)ViewData["MaxRequestLength"]))) ) {
                        $('#fileTooLarge').show();
                        return;
                    } else {
                        $('#fileTooLarge').hide();
                    }
                }
                $('#startupload').show();
                $.ajax({
                    type: "GET",
                    url: '@Url.Content("~/")WizardSupport/SelectFileUpload?FragmentGuid=@Html.Raw(HttpUtility.JavaScriptStringEncode(Request.QueryString["FragmentGuid"]))&QuestionId=@Html.Raw(HttpUtility.JavaScriptStringEncode(Request.QueryString["QuestionId"]))&UploadType=@Html.Raw(HttpUtility.JavaScriptStringEncode(Request.QueryString["uploadType"]))&repeatPath=' +
                        '@Html.Raw(HttpUtility.JavaScriptStringEncode(Request.QueryString["repeatPath"]))&logGuid=@Html.Raw(HttpUtility.JavaScriptStringEncode(Request.QueryString["logGuid"]))&fileTypes=1&dataFile=' + encodeURIComponent(data.files[0].name),
                    success: function (response) {
                        if (response) {
                            alert(response);
                            $('#startupload').hide();
                        } else {
                            data.context = $('#startupload');
                            $('#startupload').unbind('click');
                            $('#startupload').click(function () {
                                data.context = $('<p/>').replaceAll($(this));
                                $('#uploadingtext').show();
                                $('#cancelupload').show();
                                if (formDataSupported == false) {
                                    $('#ixloading').show();
                                }
                                jqXHR = data.submit().fail(function (jqXHR, textStatus, errorThrown) {
                                    if (jqXHR.status === 404 || jqXHR.status === 413 || textStatus === 'parsererror') {
                                        alert('@Html.Raw(HttpUtility.JavaScriptStringEncode((string)ViewData["sizeMsg"]))');
                                        parent.wiz.closeModal();
                                    }
                                });
                            });
                        }
                    }
                });
            },
            done: function (e, data) {
                @Html.Raw(clearInk)
                $('#uploadingtext').hide();
                parent.wiz.contentUploadFinished();
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .bar').css(
                    'width',
                    progress + '%'
                );
            },
            replaceFileInput: false
        });

        $('#cancelupload').click(function (e) {
            jqXHR.abort();
        });
        $('#closeupload').click(function (e) {
            parent.wiz.closeModal();
        });
    });
</script>
<div style="padding-left:5px;padding-top:2px">
    <strong><span>@ViewData["Message"]</span></strong><br />
    @if (!string.IsNullOrEmpty((string)ViewData["Extension"]))
    {
        <span>@ViewData["Extension"]<br /></span>
    }
    <input id="fileupload" type="file" name="files[]">
    <div id="uploadingtext" style="float: right;">@Resources.Strings.Uploading ...</div>
    <div id="fileTooLarge" style="display: none; margin-top: 10px;" class="wrn">
        @ViewData["sizeMsg"]
    </div>

    <div id="progress" style="padding-top:2px">
        <div class="bar" style="width: 0%;"></div>
        <button id='startupload' class="btn btn-primary" type="button">@Resources.Strings.StartUpload</button>
        <button id='cancelupload' class="btn btn-default" type="button">@Resources.Strings.Cancel</button>
        <button id='closeupload' class="btn btn-default" type="button">@Resources.Strings.Close</button>
        @* Used by IE 8 and 9 *@
        <div id="ixloading" style="float: right; display: none;" title="@Resources.Strings.Uploading" aria-label="@Resources.Strings.Uploading"></div>
    </div>
</div>