@using Intelledox.Produce
@model Intelledox.ViewModel.Core.AnswerFilePromptViewModel
@if (Model.Message != null)
{
<div id="trMsg">
    <br />@Html.Raw(HtmlParsing.Sanitize(Model.Message))<br /><br />
</div>
}
@if (Model.ShowSave)
{ 
<div class="question-group">
    <h3 class="question-text"><label for="rdoYes">@Resources.Strings.SaveAnswers</label></h3>
        @if (Model.IsInProgress)
        {
            <label style="color:red">@Html.Raw(Resources.Strings.RemoveInProgress)</label>
}
    <div class="question-body">
        <div class="radio-inline">
            <label>
                <input type="radio" id="rdoYes" name="rdoSaveAnswers" onclick="document.getElementById('txtAnswerDescription').disabled=false" checked="@Model.Wizard.IsSavingAnswerFile" value="Yes" @if (Model.LogInteractions) { <text>data-analyticsid="saveAnswerFileYes"</text> } />
                @Resources.Strings.Yes
            </label>
        </div>
        <div class="radio-inline">
            <label>
                <input type="radio" id="rdoNo" name="rdoSaveAnswers" onclick="document.getElementById('txtAnswerDescription').disabled=true" checked="@(!Model.Wizard.IsSavingAnswerFile)" value="No" @if (Model.LogInteractions) { <text>data-analyticsid="saveAnswerFileNo"</text> } />
                @Resources.Strings.No
            </label>
        </div>
        <h5><label for="txtAnswerDescription">@Resources.Strings.IfYes</label></h5>
        <input type="text" id="txtAnswerDescription" name="txtAnswerDescription" class="form-control" maxlength="255" value="@Intelledox.Produce.HtmlParsing.Sanitize(Model.Wizard.SaveAnswerFileName)" disabled="@(!Model.Wizard.IsSavingAnswerFile)" @if (Model.LogInteractions) { <text>data-analyticsid="answerFileDescription"</text> } />
    </div>
</div>
}
@if (Model.IsMailMerge)
{
    <div class="question-group">
        <h3 class="question-text">@Resources.Strings.MailMergeOptions</h3>
        <div class="question-body">
            <div class="radio">
                <label>
                    <input type="radio" id="rdoMergeToSingle" name="MergeTo" value="True" checked="@Model.MergeToSingleDoc" />
                    @Resources.Strings.MergeToSingle
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" id="rdoMergeToMultiple" name="MergeTo" value="False" checked="@(!Model.MergeToSingleDoc)" />
                    @Resources.Strings.MergeToSeparate
                </label>
            </div>
        </div>
    </div>
}
@if (Model.AllowNameChange)
{
    <div class="question-group">
        <h3 class="question-text">@Resources.Strings.FileName</h3>
        <div class="question-body" id="tdFileNames">
        @foreach (var filename in Model.Filenames)
        {
            if (Model.Wizard.LogInteractions)
            {
                @Html.TextBox(filename.Id.ToString(), filename.Value, new { MaxLength = 100, @class = "form-control", title = filename.Tooltip, data_analyticsid = (filename.Id.ToString()), data_analyticsevent = "filename" })
            }
            else
            {
                @Html.TextBox(filename.Id.ToString(), filename.Value, new { MaxLength = 100, @class = "form-control", title = filename.Tooltip })
            }
            if (filename.Value == "")
            {
                <span class="wrn">@Resources.Strings.RequiredField</span>
            }
            <br />
        }
        </div>
    </div>
}
