@using Intelledox.Produce
@using DateHelper = Intelledox.Common.DateHelper
@model Intelledox.ViewModel.Core.CommentViewModel
@{
    var commentId = Model.Model.Id.ToString().Replace("-", "_");
}

<div class="commentContainer" id="comment_@commentId">

    @if (Model.Model.UserId == Infiniti.MvcControllers.UserSettings.UserGuid)
    {
        <div class="commentCommands dropdown" id="commentCommands_@commentId">
            <a href="#void" class="dropdown-toggle" id="dropdownMenu@commentId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu_@commentId">
                <li><button type="button" class="btn-link" onclick="commentEdit(this, '@commentId')" id="commentEdit_@commentId">Edit</button></li>
                <li><button type="button" class="btn-link" onclick="commentDelete('@commentId')" id="commentDelete_@commentId">Delete</button></li>
            </ul>
        </div>
    }
    <div class="commentDetail">
        <span class="commentName">@Model.Model.CommenterName: </span>
        <span class="commentText">@Model.Model.CommentText</span>
    </div>
    <div class="commentTime">
        
        @Infiniti.MvcControllers.UserSettings.FormatLocalDate(Model.Model.TimeStamp,"G") @Model.GenerateTimeSince()
        @if (Model.UseArchive)
        {
            <a href="#void" onclick="parent.wiz.commentKeep(this, '@commentId', window)" data-path="@Url.Content("~/")" id="commentPinned_@commentId" data-alt-id="commentPin_@commentId" style="@(Model.Model.Keep ? "" : "display:none")"><span title="@Resources.Strings.CommentPinned"><img src="../../Images/commentpinned.svg" class="lock"></span></a>
            <a href="#void" onclick="parent.wiz.commentKeep(this, '@commentId', window)" data-path="@Url.Content("~/")" id="commentPin_@commentId" data-alt-id="commentPinned_@commentId" style="@(Model.Model.Keep ? "display:none" : "")"><span title="@Resources.Strings.CommentPin"><img src="../../Images/commentpin.svg" class="lock"></span></a>
        }
    </div>
</div>
@if (Model.Model.UserId == Infiniti.MvcControllers.UserSettings.UserGuid)
{
    <div class="editCommentArea" id="editCommentArea_@commentId" style="display: none">
        <div class="form-inline">
            <div class="form-group" style="min-width: 80%">
                <textarea rows="1"
                          id="txtEditComment_@commentId"
                          name="txtEditComment_@commentId"
                          onchange="checkTextValue(this, 'btnUpdateComment_@commentId');"
                          onkeyup="checkTextValue(this, 'btnUpdateComment_@commentId');"
                          class="form-control custom-control" 
                          style="resize: none; 
                          min-width: 100%">@Model.Model.CommentText</textarea>
            </div>
            <div class="form-group" style="min-width:7%; margin-left:2px"><button type="button" onclick="commentUpdate('@commentId')" id="btnUpdateComment_@commentId" class="btn btn-default">Update</button></div>
            <div class="form-group" style="min-width:7%; margin-left:2px"><button type="button" onclick="commentCancel('@commentId')" id="btnCancelCommentt_@commentId" class="btn btn-default">Cancel</button></div>
        </div>
    </div>
}
