@model  Intelledox.ViewModel.Core.QuestionViewModel<Intelledox.QAWizard.Question>
@{
    Layout = "~/Views/Shared/_LayoutSubpage.cshtml";
    var question = Model.Question;
    var questionModel = Model.Question.QuestionModel;
    var qid = Intelledox.Produce.ControlHtmlHelper.IdFor(null, question);
}

@section AddToHead
{
    <script src="~/scripts/jquery.history.js" type="text/javascript"></script>
    <script src="~/scripts/bootstrap.min.js?v=337"></script>
    <script src="~/scripts/autosize.js"></script>
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/scripts/html5shiv.min.js")"></script>
    <script src="@Url.Content("~/scripts/respond.min.js")"></script>
    <![endif]-->
}
@using (Html.BeginForm())
{
    <div>
        <script type="text/javascript">
            function closeMe() {
                $("#@(qid)_commentsCounter", parent.document).html("");
                var popup = $("#@(qid)_commentsPopup", parent.document);
                if ($("#commentsArea").children().length > 0) {
                    popup.removeClass("commentsIcon").addClass("commentedIcon");

                } else {
                    popup.removeClass("commentedIcon").addClass("commentsIcon");
                }

                parent.wiz.commentViewUpdate('@questionModel.QuestionGuid', '@Url.Content("~/")', window.location.search);

                if ( @Json.Encode(Model.LogInteractions) ){
                    parent.wiz.dataAnalyticsFocusAndBlur('@(Model.AnalyticsID)', 'commentClose');
                }
                if ($("#addComment").val().length > 0) {
                    var r = confirm("@Html.Raw(Resources.Strings.UnfinishedComment)");
                    if (r === true) {
                        parent.wiz.closeLargeDraggableModal();
                    }
                }
                else {
                    parent.wiz.closeLargeDraggableModal();
                }
            }

            function commentEdit(sender, commentId) {
                var editCommentField = "txtEditComment_" + commentId;
                $("#editCommentArea_" + commentId).show();
                $("#commentAddArea").hide();
                $("#comment_" + commentId).hide();
                autosize($("#" + editCommentField));
                autosize.update($("#" + editCommentField));
                if ( @Json.Encode(Model.LogInteractions) ){
                    parent.wiz.dataAnalyticsFocusAndBlur('@(Model.AnalyticsID)', 'commentEdit');
                }
            }

            function commentCancel(commentId) {
                $("#editCommentArea_" + commentId).hide();
                $("#commentAddArea").show();
                $("#comment_" + commentId).show();
                if ( @Json.Encode(Model.LogInteractions) ){
                    parent.wiz.dataAnalyticsFocusAndBlur('@(Model.AnalyticsID)', 'commentCancel');
                }
            }

            function commentUpdate(commentId) {
                $("#SelectedCommentId").val(commentId);
                $("#command").val("SaveUpdate");
                $("form").first().submit();
                if ( @Json.Encode(Model.LogInteractions) ){
                    parent.wiz.dataAnalyticsFocusAndBlur('@(Model.AnalyticsID)', 'commentUpdate');
                }
            }

            function commentDelete(commentId) {
                var d = confirm("@Html.Raw(Resources.Strings.DeleteCommentConfirm)");
                if (d === true) {
                    $("#SelectedCommentId").val(commentId);
                    $("#command").val("DoDelete");
                    $("form").first().submit();
                    if (@Json.Encode(Model.LogInteractions)) {
                        parent.wiz.dataAnalyticsFocusAndBlur('@(Model.AnalyticsID)', 'commentDelete');
                    }
                }
            }

            function checkTextValue(sender, buttonId) {
                var button = $("#" + buttonId);
                if (!button[0].hasAttribute("disabled")) {
                    button.prop("disabled", true);
                }
                if ($(sender).val().trim() !== "") {
                    button.prop("disabled", false);
                }
                else {
                    $(sender).val("");
                }
            }
        </script>
        <div id="contentinner" class="base1" style="margin-bottom: 40px">
            <div class="body">
                <div class="question-group">
                    <div id="CommentsContent" class="comments-content" style="height: 410px; padding: 10px; overflow-x: hidden; overflow-y: auto">

                        <h3 class="question-text">

                            @if (questionModel.TextPosition != Intelledox.QAWizard.Design.TextPosition.None)
                            {
                                <label>@string.Format(Resources.Strings.CommentsFor, Model.Question.TextHtmlStripped)</label>
                            }
                            else
                            {
                                <label>@Resources.Strings.Comments</label>
                            }
                        </h3>
                        <div class="form-inline" id="commentAddArea">
                            <div class="form-group" style="min-width: 93%">
                                <textarea type="text"
                                          id="addComment"
                                          name="addComment"
                                          onchange="checkTextValue(this,'commentAdd');"
                                          onkeyup="checkTextValue(this,'commentAdd');"
                                          rows="1"
                                          placeholder="@Resources.Strings.WriteComment"
                                          class="form-control"
                                          style="min-width: 100%"
                                          spellcheck="true"></textarea>
                            </div>
                            <div class="form-group" style="min-width: 6%">
                                <button disabled="disabled" type="submit" name="command" value="AddComment" id="commentAdd" @Html.Raw(Model.LogInteractions ? "onclick=\"parent.wiz.dataAnalyticsFocusAndBlur(" + @Microsoft.Security.Application.Encoder.JavaScriptEncode(Model.AnalyticsID) + ", 'commentAddBtn'" + ")\"" : "" ) class="btn btn-default">@Resources.Strings.Add</button>
                            </div>
                        </div>
                        <div id="commentsArea">
                            @if (Model.Question.HasComments)
                            {
                                foreach (var comment in Model.Question.Comments.Where(m => !m.Deleted).OrderByDescending(c => c.TimeStamp))
                                {
                                    Html.RenderPartial("Comment", new Intelledox.ViewModel.Core.CommentViewModel(comment, question.WizardFragment.WizardSession.EnableCommentsPurge));
                                }
                            }
                        </div>

                    </div>
                    <input type="hidden" id="SelectedCommentId" name="SelectedCommentId" value="" />
                    <input type="hidden" id="command" name="command" value="" />
                </div>
            </div>
            <script type="text/javascript">
                autosize($('#addComment'));
            </script>
            <div class="popupFooter">
                <input type="button" id="btnOK" class="btn btn-primary" onclick="closeMe()" value="@Resources.Strings.Close" />
            </div>
        </div>
    </div>
}
