@using Intelledox.Produce
@model Intelledox.Produce.DataPopupViewModel
@{ 
    Layout = "~/Views/Shared/_QuestionLayout.cshtml";
    var qid = Html.IdFor(Model.Question);
}
@if (Model.ShowUpload)
{
    if (Model.Question.IsEditable)
    {
        <a href="#void" onclick="@Html.Raw(Model.LogInteractions ? "wiz.dataAnalyticsFocusAndBlur(" + @Microsoft.Security.Application.Encoder.JavaScriptEncode(Model.AnalyticsID) + ", 'dataUpload'" + ");" : "")wiz.openUploadPage('@Url.Content("~/")', '@Model.Question.WizardFragment.InstanceId.ToString()', '@Model.Question.QuestionGuid.ToString()', 'data', '@Model.RepeatPath', '@Model.Question.WizardFragment.WizardSession.ProjectLog.ToString()', null);return false;">@Resources.Strings.SelectDataFile</a>
    }
    else
    {
        <div>@Resources.Strings.NoDataFileSelected</div>
    }
}
@if (Model.ShowClear && Model.Question.IsEditable)
{
<a href="#void" onclick="@Html.Raw(Model.LogInteractions ? "wiz.dataAnalyticsFocusAndBlur(" + @Microsoft.Security.Application.Encoder.JavaScriptEncode(Model.AnalyticsID) + ", 'dataClear'" + ");" : "")wiz.clearContent('@Model.Question.WizardFragment.InstanceId.ToString()', '@Model.Question.QuestionGuid.ToString()', '@Model.RepeatPath');return false;">@Resources.Strings.ClearFile</a><br />
}
@if (Model.ShowUpload)
{ 
    @Html.DisplayValidation(Model.Question.LastValidationMessage)
}
else
{
<div class="row">
    <div class="col-xs-3">
        <div class="input-group">
            <input type="text" id="@(qid)_txtSelectedData" value="@Model.DisplayText" class="form-control" disabled="disabled" />
            <span class="input-group-btn">
                <input type="button" id="@(qid)_btnPopup" value="..." class="btn btn-default @Html.Raw(Model.LogInteractions ? "analyticslog" : "")" title="@Resources.Strings.SelectData" @Html.Raw(Model.Question.HasValidationErrors() ? "aria-invalid=\"true\" aria-describedby=\"error_" + qid + "\"" : "") @Html.Raw(Model.LogInteractions ? "data-analyticsid=\"" + @Html.Encode(Model.AnalyticsID) + "\" data-analyticsevent=\"popupOpen\"" : "")/>
            </span>
        </div>
    </div>
</div>
@Html.DisplayValidation(Model.Question.LastValidationMessage, qid + "_btnPopup")
<script type="text/javascript">
    $("#@(qid)_btnPopup").click(function () {
        var iframe = $('<iframe width="100%" height="450px" frameborder="0" />');
        $('.modal-lg-insert').html('').append(iframe);
        $('#popupLargeModal').modal({
            keyboard: false
        });
        iframe.prop('src', '@Url.Content("~/")wizard/datapopupwindow/@Model.Question.QuestionGuid.ToString()' +
                '?FragmentGuid=@Model.Question.WizardFragment.InstanceId.ToString()' +
                '&RepeatPath=@(Model.RepeatPath)' +
                '&Data=@(qid)_hidSelectedIndex' +
                '&SelectedIndex=' + document.getElementById('@(qid)_hidSelectedIndex').value +
                '&TextBox=@(qid)_txtSelectedData' +
                '&KeyFieldControl=@(qid)_hidKeyFields' +
                '&KeyFieldValues=' + encodeURIComponent(document.getElementById('@(qid)_hidKeyFields').value) +
                '&LogGuid=@Model.Question.WizardFragment.WizardSession.ProjectLog.ToString()');
        $('#up').attr("aria-hidden", "true");
        $('#popupLargeModal').modal('show');
    });
</script>
<input type="hidden" id="@(qid)_hidSelectedIndex_Original" name="@(qid)_hidSelectedIndex_Original" value="@Model.SelectedIndex" />
<input type="hidden" id="@(qid)_hidSelectedIndex" name="@(qid)_hidSelectedIndex" value="@Model.SelectedIndex" />
<input type="hidden" id="@(qid)_hidKeyFields" name="@(qid)_hidKeyFields" value="@Model.FilterIds" />
}
