@using Intelledox.Produce
@model Intelledox.Produce.DataAutoCompleteViewModel
@{
    Layout = "~/Views/Shared/_QuestionLayout.cshtml";
    var qid = Html.IdFor(Model.Question);
    var questionModel = ((Intelledox.QAWizard.Design.DatasourceQuestion)Model.Question.QuestionModel);
    var noResultsMessage = questionModel.NoResultsMessage;
}

<script type="text/javascript">
    wiz.pgReloaded = false;

    $.ajaxSetup({ cache: false });
    $(function () {
        $("#@qid").autocomplete({
            source: "@Url.Content("~/")Data/AutoComplete@(Html.Raw(questionModel.HasUserEnteredFilters ? "UserEnteredToDataFilter" : ""))?fragmentGuid=@Model.Question.WizardFragment.InstanceId.ToString()&QuestionId=@Model.Question.QuestionGuid.ToString()&repeatPath=@Model.RepeatPath&logGuid=@Model.Question.WizardFragment.WizardSession.ProjectLog.ToString()"
            @Html.Raw(Model.Question.IsRealtimeParentQuestion ? ",select: function(event,ui) {" + (questionModel.HasUserEnteredFilters ? "$(\"#" + qid + "_Original\").val(\"dirty\");" : "") + "wiz.pgReloaded=true; wiz.delayPostback();}" : (questionModel.HasUserEnteredFilters ? ",change: function (event, ui) {$(\"#" + qid + "_Original\").val(\"dirty\");}" : "")),
            open: function () { $('#@qid').autocomplete('widget').width($("#@qid").width()); },
            appendTo: "#@(qid)_autoComplete",
            response: function (event, ui) {
                if (@(Html.Raw(Microsoft.Security.Application.Encoder.JavaScriptEncode(noResultsMessage))).length > 0 && ui.content.length === 0) {
                    $('#@(qid)_Message').text(@(Html.Raw(Microsoft.Security.Application.Encoder.JavaScriptEncode(noResultsMessage))).replace(/\[userenteredfilter\]/ig, $("#@qid").val()));
                    $('#@(qid)_Message').attr('style', 'display:inline;');
                } else {
                    $('#@(qid)_Message').empty();
                    $('#@(qid)_Message').attr('style', 'display:none;');
                }
            },
            change: function () {
                $('#@(qid)_Message').empty();
                $('#@(qid)_Message').attr('style', 'display:none;');
            }
        })
    });
    @Html.Raw(Model.Question.IsRealtimeParentQuestion ? "$('#" + qid + "').on('autocompletechange', function (event, ui) {if (!wiz.pgReloaded) { wiz.delayPostback(); }});" : "")
</script>
<div>
    @if (Model.ShowUpload)
    {
        if (Model.Question.IsEditable)
        {
            <a href="#void" onclick="@Html.Raw(Model.LogInteractions ? "wiz.dataAnalyticsFocusAndBlur(" + @Microsoft.Security.Application.Encoder.JavaScriptEncode(Model.AnalyticsID) + ",'dataUpload'" + ");" : "")wiz.openUploadPage('@Url.Content("~/")', '@Model.Question.WizardFragment.InstanceId.ToString()', '@Model.Question.QuestionGuid.ToString()', 'data', '@Model.RepeatPath', '@Model.Question.WizardFragment.WizardSession.ProjectLog.ToString()', null);return false;">@Resources.Strings.SelectDataFile</a>
        }
        else
        {
            @Resources.Strings.NoDataFileSelected
        }
    }
    @if (Model.ShowClear && Model.Question.IsEditable)
    {
        <a href="#void" onclick="@Html.Raw(Model.LogInteractions ? "wiz.dataAnalyticsFocusAndBlur(" + @Microsoft.Security.Application.Encoder.JavaScriptEncode(Model.AnalyticsID) + ",'dataClear'" + ");" : "")wiz.clearContent('@Model.Question.WizardFragment.InstanceId.ToString()', '@Model.Question.QuestionGuid.ToString()', '@Model.RepeatPath');return false;">@Resources.Strings.ClearFile</a><br />
    }
    @if (!Model.ShowUpload)
    {
        <input type="text" id="@qid" name="@qid" value="@Model.DisplayText" placeholder="@Model.Question.WatermarkFormatted" class="form-control" autocomplete="off" disabled="@(!Model.Question.IsEditable)"
               @Html.Raw(Model.Question.DatasourceQuestionModel.TextBoxWidth > 0 ? "style=\"width:" + Model.Question.DatasourceQuestionModel.TextBoxWidth + "px\"" : "")
               @Html.Raw(Model.Question.HasValidationErrors() ? "aria-invalid=\"true\" aria-describedby=\"error_" + qid + "\"" : "") @Html.Raw(Model.Question.IsMandatory ? "required" : "")
               @if (Model.LogInteractions) { <text> data-analyticsid="@Model.AnalyticsID" </text>  } />
            <div id="@(qid)_autoComplete" class="autocomplete" />
    }
    <input type="hidden" id="@(qid)_Original" value="@Model.Question.SelectedIndex" name="@(qid)_Original" />
    <div id="@(qid)_Message" value="@Model.Question.SelectedIndex" style="display:none;" name="@(qid)_Message" class="autocomplete-message" />
</div>
@Html.DisplayValidation(Model.Question.LastValidationMessage, qid)