@using Intelledox.Produce
@model Intelledox.Produce.TabGroupViewModel
@{
    var objectId = Model.Tab.TabGroupModel.TabGroupGuid.ToString();
    var repeatPath = Model.RepeatPath;
    var fragmentGuid = Model.Tab.WizardFragment.InstanceId.ToString();
    var selectedIndex = Model.SelectedTabIndex; // Force initial selection
}
<div class="@(Model.Tab.TabGroupModel.CssStyle)">
    <div class="nav nav-tabs" data-fragmentguid="@(fragmentGuid)" data-objectid="@(objectId)" data-repeatpath="@(repeatPath)">
        @{ var index = -1; }
        @foreach (Intelledox.QAWizard.TabPage tab in Model.Tab.TabPages)
        {
            index++;

            if (tab.IsVisible)
            {
                @Html.Raw(String.Format("<li class=\"{0}\"><a href=\"#void\" id=\"{3}\" {4} onclick=\"wiz.tabClick($(this).parent(), '{1}');return false;\">{2}</a></li>",
                Model.Tab.ActivePage == index ? "active" : "",
                index.ToString(),
                Microsoft.Security.Application.Encoder.HtmlEncode(String.IsNullOrWhiteSpace(tab.TabPageModel.Title) ? Resources.Strings.TabPage : tab.TabPageModel.Title),
                Html.IdFor(Model.Tab) + "_" + index.ToString(),
                (Model.LogInteractions) ? "class=\"analyticslog\" data-analyticsid=\"" + Microsoft.Security.Application.Encoder.HtmlEncode(String.IsNullOrWhiteSpace(tab.TabPageModel.Title) ? Resources.Strings.TabPage : tab.TabPageModel.Title) + "\" data-analyticsevent=\"" + "tabSelect" + "\"" : ""));
            }
        }
    </div>
    <div class="tab-content">
        <div class="tab-pane active">
            @{ Html.RenderNode(Model.Tab.TabPages[Model.Tab.ActivePage]); }
        </div>
    </div>
</div>
