@using Infiniti.MvcControllers
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html dir="@(System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")" lang="@(System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName )">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>@Html.Raw(ApplicationSettings.ThemePageTitle)</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link href="~/Content/bootstrap.min.css?v=337" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-theme.min.css?v=337" rel="stylesheet" />
    <link href="~/Content/Site.css?v=10.0.36" type="text/css" rel="stylesheet" />
    @Html.Raw(ApplicationSettings.ThemeCss(Url.Content("~/")))
    <script src="~/scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
</head>
<body>
    <label id="GeneratingHeader">@Html.Raw(ApplicationSettings.ThemeWizardHeader)</label>
    <input type="hidden" id="hidRequestId" value="@ViewBag.JobGuid" />
    <div id="fileCreationContainer">
        <div id="wait-preview" title="@Resources.Strings.CreatingDocument" aria-label="@Resources.Strings.CreatingDocument"></div>
        <label class="fileCreationTitle">@ViewBag.CurrentlyCreating</label>
        <label class="fileCreationSubTitle">@Resources.Strings.PleaseWait</label><span id="divProgress"></span>
    </div>
    <label id="GeneratingFooter">@Html.Raw(ApplicationSettings.ThemeWizardFooter)</label>

    <script type="text/javascript">
        var statusInterval;
        function checkStatus() {
            $.get("@Url.Content("~/")GenerateProgress/CheckStatus?JobGuid=" + document.getElementById('hidRequestId').value)
                .done(function (data, textStatus, xhr) {
                    // only if "OK"
                    if (xhr.status == 200) {

                        if (data == '1') {
                            // a "1" means it is done
                            clearInterval(statusInterval);
                            document.location.reload();
                        } else {
                            if (document.getElementById('divProgress').innerHTML.length > 10) {
                                document.getElementById('divProgress').innerHTML = '';
                            }
                            document.getElementById('divProgress').innerHTML += '.';
                        }
                    }
                });
        }

        statusInterval = setInterval(checkStatus, 1000);
    </script>
</body>
</html>