@using Intelledox.Produce
@model Intelledox.Produce.AnswerFileEditViewModel
@{
    ViewBag.CurrentTab = MenuTab.AnswerFiles;
}

@Html.Partial("_SiteHeader")
<div class="container ix-header-body">
    <h1 class="page-header">
        @Resources.Strings.AnswerFiles
    </h1>

    <div class="row-fluid">
        <form method="post">
            @{
                if (Model.AnswerFiles.Count > 0)
                {
                    var grid = new WebGrid(source: Model.AnswerFiles, canPage: true, rowsPerPage: 20);

                    @grid.Table(
                        tableStyle: "table table-striped table-condensed",
                        htmlAttributes: new { id = "grdAnswerFiles" },
                        fillEmptyRows: false,
                        columns: grid.Columns(
                            grid.Column(format: @<text><input name="deleteId" type="checkbox" value="@item.AnswerFileGuid.ToString()" /></text>),
                            grid.Column("RunDateUtc", Resources.Strings.DateCreated, format:(item) => @Infiniti.MvcControllers.UserSettings.FormatLocalDate(item.RunDateUtc, "g")),
                            grid.Column("Description", header: Resources.Strings.Description,
                                format: @<text>
                                <a href="~/wizard/@item.ProjectGroupGuid/?Gen=true&amp;AnswerFileID=@item.AnswerFileID">
                                    <img src="~/Images/GenIcon.png" style="margin:0px 4px 0px 4px;vertical-align:middle;border:0;" alt="@Resources.Strings.GenDocFromFile" title="@Resources.Strings.GenDocFromFile" />
                                </a>
                                <a href="~/wizard/@item.ProjectGroupGuid/?AnswerFileID=@item.AnswerFileID">
                                    @item.Description
                                </a>
                                </text>),
                            grid.Column("ProjectGroupName", Resources.Strings.Form)
                        )
                    )
                    @grid.PagerList(mode: WebGridPagerModes.Numeric | WebGridPagerModes.FirstLast,
                        firstText: Resources.Strings.First,
                        lastText: Resources.Strings.Last,
                        paginationStyle: "pagination pull-right")
                    <div>
                        <input type="submit" class="btn btn-default" value="@Resources.Strings.DeleteSelected" onclick="return confirm('@Resources.Strings.ConfirmDelete');" />
                    </div>
                }
                else
                {
                    @Resources.Strings.NoAnswerFiles
                }
            }
        </form>
    </div>
</div>
